@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
body {
  max-width: 1190px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 100px;
  background-color: #444;
  z-index: 999;
}

header.sticky {
  padding: 5px 100px;
  background-color: #000;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 500;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #444;
}

.banner-top {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 20vh;
}

.ribbons-container {
  background: #6eff95;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: poppins, san-serif;
}

.ribbons-container a {
  position: relative;
  width: 300px;
  height: 75px;
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.ribbons-container a:hover {
  color: #fff;
}

.ribbons-container a:hover::before {
  width: 100%;
}

.ribbons-container a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url("../img/1_ribbons/btn-bg1.png");
  background-size: cover;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.ribbons-container a:nth-child(2)::before {
  background: url("../img/1_ribbons/btn-bg2.png");
  background-size: cover;
}

.ribbons-container a span {
  position: relative;
  z-index: 1;
}

.emotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50vh;
  background: #20152d;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.emotion-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
}

.emotion-rating:hover label {
  width: 160px;
  opacity: 0.2;
}

.emotion-rating input {
  display: none;
}

.emotion-rating input:hover + label,
.emotion-rating input:checked + label {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
  width: 160px;
}

.emotion-rating input:hover + label h4,
.emotion-rating input:checked + label h4 {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}

.emotion-rating label {
  position: relative;
  width: 0;
  height: 128px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}

.emotion-rating label h4 {
  color: #ffffff;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateY(-50px) scale(0);
  -ms-transform: translateY(-50px) scale(0);
  transform: translateY(-50px) scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.emotion-rating label img {
  width: 70px;
}

.emotion-question {
  color: #ffffff;
  width: 500px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;
  font-size: 36px;
}

.neonbtn-container {
  background: #031321;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
  font-family: consolas;
  margin: 0;
  padding: 0;
}

.neonbtn-container a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.neonbtn-container a:hover {
  color: #255784;
  background: #2196f3;
  -webkit-box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.neonbtn-container a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.neonbtn-container a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.neonbtn-container a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.neonbtn-container a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

.neonbtn-container a span {
  position: absolute;
  display: block;
}

.neonbtn-container a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196f3));
  background: -o-linear-gradient(left, transparent, #2196f3);
  background: linear-gradient(90deg, transparent, #2196f3);
}

.neonbtn-container a span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196f3));
  background: -o-linear-gradient(right, transparent, #2196f3);
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neonbtn-container a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196f3));
  background: -o-linear-gradient(top, transparent, #2196f3);
  background: linear-gradient(180deg, transparent, #2196f3);
}

.neonbtn-container a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196f3));
  background: -o-linear-gradient(bottom, transparent, #2196f3);
  background: linear-gradient(0deg, transparent, #2196f3);
}

.navigation-colorBg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 500px;
  font-family: poppins, san-serif;
  overflow: hidden;
}

.navigation-colorBg-container ul {
  position: relative;
}

.navigation-colorBg-container ul:hover li a {
  color: #0002;
}

.navigation-colorBg-container ul li {
  text-align: center;
  list-style: none;
}

.navigation-colorBg-container ul li:hover a {
  color: #000;
  background: #fff;
}

.navigation-colorBg-container ul li:nth-child(6n+1) a::before {
  background: #81ecec;
}

.navigation-colorBg-container ul li:nth-child(6n+2) a::before {
  background: #55efc4;
}

.navigation-colorBg-container ul li:nth-child(6n+3) a::before {
  background: #a29bfe;
}

.navigation-colorBg-container ul li:nth-child(6n+4) a::before {
  background: #fd79a8;
}

.navigation-colorBg-container ul li:nth-child(6n+5) a::before {
  background: #ffeaa7;
}

.navigation-colorBg-container ul li:nth-child(6n+6) a::before {
  background: #81ecec;
}

.navigation-colorBg-container ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation-colorBg-container ul li a:hover::before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

.navigation-colorBg-container ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  -webkit-transition: letter-spacing 0.5s;
  -o-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}

.colorblock {
  width: 1000px;
  height: 1000px;
  position: relative;
  background-color: #32a858;
  margin: 0 auto;
  top: 200px;
}

.bluerect {
  width: 300px;
  height: 300px;
  background-color: #328ba8;
  position: relative;
  bottom: 100px;
  z-index: 2;
}

.rect1 {
  width: 100px;
  height: 100px;
  background-color: #a8324c;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.banner-social {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-social video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-social i.fab {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-size: 35vw;
  text-align: center;
  color: #000000;
  line-height: 100vh;
  mix-blend-mode: screen;
}

.banner-social i.fab:hover {
  color: #ffffff;
  background: #eee;
}

@media (max-width: 768px) {
  .banner-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .banner-social i.fab {
    height: 50%;
    line-height: 50vh;
    font-size: 50vw;
  }
}