.profile-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clt);

  .profile-card {
    position: relative;
    width: 320px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .box {
      position: relative;
      width: 110%;
      height: 200px;
      background: #f00;
      border-radius: 15px;

      .img-bx {
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 15px;

        video {
          display: inline-block;
          height: 100%;
          // position: absolute;
          // width: 100%;
          // object-fit: cover;
        }
      }

      .content {
        position: absolute;
        inset: 0;
        padding: 30px 10px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .content-title,
        .content-description {
          width: 100%;
          text-transform: uppercase;
          font-size: 1.15em;
          letter-spacing: 0.1em;
          font-weight: 600;
          line-height: 1.1em;
          color: #333;
        }

        .content-title {
          padding-left: 120px;
        }

        .content-description {
          font-size: 0.75em;
          letter-spacing: 0.05em;
          font-weight: 400;
          color: #e91e63;
          text-transform: initial;
        }

        .content-info {
          position: relative;
          top: 15px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          padding: 0 10px;
          justify-content: space-evenly;

          & li {
            list-style: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 10px;
            font-size: 0.85em;
            font-weight: 500;
            color: #999;

            span {
              font-size: 1.65em;
              color: #333;
            }
          }

          & li:not(:last-child) {
            border-right: 1px solid #ccc;
          }
        }

        .content-following-button {
          position: relative;
          top: 50px;
          padding: 8px 30px;
          border: none;
          outline: none;
          background: #03a9f4;
          border-radius: 30px;
          color: #fff;
          font-size: 1em;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-weight: 500;
          cursor: pointer;
          border: 5px solid var(--clt);
          box-shadow: 0 0 0 10px #fff;
          transition: 0.5s;

          &::before {
            content: "";
            position: absolute;
            top: 24px;
            left: -26px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-right-radius: 20px;
            box-shadow: 5px -7px #fff;
          }

          &::after {
            content: "";
            position: absolute;
            top: 24px;
            right: -25px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-left-radius: 20px;
            box-shadow: -5px -7px #fff;
          }

          &:hover {
            letter-spacing: 0.5em;
            background: #ff3d7f;
          }
        }
      }
    }

    .box:nth-child(1)::before {
      content: "";
      position: absolute;
      top: 106px;
      left: -1px;
      width: 20px;
      height: 20px;
      background: transparent;
      z-index: 10;
      border-bottom-left-radius: 20px;
      box-shadow: -6px 6px var(--clt);
    }

    .box:nth-child(1)::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 105px;
      width: 20px;
      height: 20px;
      background: transparent;
      z-index: 10;
      border-bottom-left-radius: 20px;
      box-shadow: -6px 6px var(--clt);
    }
    .box:nth-child(2) {
      background: #fff;
      height: 220px;
      width: 100%;
    }

    .box:nth-child(2)::before {
      content: "";
      position: absolute;
      bottom: 106px;
      left: -1px;
      width: 20px;
      height: 20px;
      background: transparent;
      z-index: 10;
      border-top-left-radius: 20px;
      box-shadow: -6px -6px var(--clt);
    }
    .box:nth-child(2)::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 109px;
      width: 20px;
      height: 20px;
      background: transparent;
      z-index: 10;
      border-top-left-radius: 20px;
      box-shadow: -6px -6px var(--clt);
    }

    .circle {
      position: absolute;
      top: 50%;
      left: -70px;
      transform: translateY(-50%);
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 10px solid var(--clt);
      background: #0f0;

      .img-bx {
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 50%;

        img {
          display: inline-block;
          // position: absolute;
          // height: 100%;
          width: 100%;
          // object-fit: cover;
        }
      }
    }
  }
}
