.glowingCard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: #18191f;
}

.glowingCard {
    position: relative;
    display: flex;
}

.glowingCard li {
    list-style: none;
}

.glowingCard li label{
    position: relative;
}

.glowingCard .glowingCard_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.glowingCard .glowingCard_input:checked ~ .icon {
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.05),
                inset 4px 4px 6px rgba(0, 0, 0, 0.2);  
}

.glowingCard .glowingCard_input:checked ~ .icon .fa {
    color: #00f3ff;
    text-shadow: 0 0 15px #00f3ff,
                0 0 25px #00f3ff;
                animation: changeColor 5s linear  infinite;
}

.glowingCard .icon {
    position: relative;
    width: 60px;
    height: 60px;
    background: #18191f;
    color: #555555;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 4px rgba(255,255,255,0.05),
                4px 4px 6px rgba(0, 0, 0, 0.2),
                inset -1px -1px 4px rgba(255, 255, 255, 0.05),
                inset 1px 1px 1px rgba(0, 0, 0, 0.1);   
}

.glowingCard .icon::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 5px);
    height: calc(50% - 2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
}  

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}