@import "./liquidLoader.css";
@import "./smokedLetters.css";
@import "./threeRespCard.css";
@import "./buttonToTop.css";
@import "./wallClock.css";
@import "./menuIndicator.css";
@import "./glowingCard.css";
@import "./progressbar.css";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

.main_container {
    margin: 0;
    padding: 0;
}

